## stuff from github template
# Compiled
*.elc

# Packaging
.cask

# Backup files
*~

# Undo-tree save-files
*.~undo-tree

## custom
elpa/
eln-cache/
eshell/
transient/
ido.last
projectile-bookmarks.eld